/* footer */
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffd2b5;
    color: #8a5110;
    margin-top: 50px;
    position: relative;
}
footer a{
    color: #8a5110;
}
footer h4{
    font-size: 20px;
    font-weight: 600;
}
footer .col-5{
    height: 200px;
}
footer ul li{
    margin: 10px 0;
    list-style-type: none;
    font-size: 16px;
}
footer .content{
    width: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* image-content */
footer .image-content{
    padding: 20px;
}
footer .image-content img{
    width: 250px;
}
footer .image-content p{
    width: 80%;
}
footer .image-content .social{
    margin-top: 10px;
}
footer .image-content .social ion-icon{
    margin: 5px;
}
/* contact us */
footer .contact-us ion-icon{
    font-size: 20px;
}
footer .newsletter input[type=email]{
    margin-top: 20px;
    margin-bottom: 10px;
    width: 100%;
}
footer .newsletter button{
    width: 100%;
}
footer .top-to{
    position: absolute;
    bottom: 20px;
    right: 20px;
}
footer .top-to a{
    font-size: 30px;
    transition: 0.3s;
}